
.*
!.gitignore
!.valalintignore
!.vala-lint.conf
!.editorconfig
!.github/
!.agents/
!.githooks/
~*
builddir
builddir*
repo
local-repo
AppDir
stage
dist
*.flatpak
*.AppImage
*.sha256
linuxdeploy-*.sh
squashfs-root/

